<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="main.min.css">
    </head>
    <body>
        <div class="panel-options container mx-auto mt-50px">
            <div class="flex flex-row items-center flex-wrap">
                <img class="logo" src="images/48.png" />
                <h1 class="text-34px pl-10px">Tab Analyzer Options</h1>
            </div>

            <hr class="w-full border border-grey-light my-20px">

            <div class="flex flex-row items-baseline flex-wrap">
                <div class="w-full py-10px">
                    <h2 class="text-24px mb-5px">Config Url</h2>
                </div>
                <div class="w-full pb-10px">
                    <input class="text-18px w-full block outline-none border-blue border-2 p-10px" type="text" id="config-url"/>
                </div>
            </div>

            <div class="flex flex-row items-baseline flex-wrap">
                <div class="w-full">
                    <button class="text-18px bg-blue py-5px px-10px text-white text-14px text-center tracking-wider w-full rounded" id="save">Save</button>
                </div>
            </div>

            <br><br>
        </div>
    </body>

    <script src="options.js" type="text/javascript" charset="utf-8"></script>
</html>