<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="main.min.css">
    </head>
    <body>
        <div class="panel-popup">
            <img class="logo" src="images/48.png" />
            <h2 class="subtitle">Tab Analyzer</h2>
            <button class="button is-info is-small" id="analyse">Run Analysis</button>
            <button class="button is-info is-small" id="options">Options</button>
        </div>
    </body>
 
    <script src="popup.js"></script>
</html>