<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="main.min.css">
    </head>
    <body>
        <div class="panel-popup w-200px mx-auto p-10px">
            <div class="flex flex-row items-center flex-wrap">
                <div class="w-full text-center pb-20px">
                    <h1 class="text-24px">Tab Analyzer</h1>
                </div>
                <div class="w-full pb-10px">
                    <button class="bg-blue py-5px px-10px text-white text-14px text-center tracking-wider w-full rounded" id="analyse">Run Analysis</button>
                </div>
                <div class="w-full">
                    <button class="bg-blue py-5px px-10px text-white text-14px text-center tracking-wider w-full rounded" id="options">Options</button>
                </div>
            </div>
        </div>
    </body>
 
    <script src="popup.js"></script>
</html>